#### Satisfaction Analayis

In [1]:
import os
import sys
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
# Get the current working directory
current_dir = os.getcwd()

# Append the parent directory
parent_dir = os.path.dirname(current_dir)
sys.path.append(parent_dir)

# ignore warrnings
import warnings
warnings.filterwarnings("ignore")
from DBConnection.connection import PostgresConnection
from scripts.satisfaction_analyzer import *
from scripts.engagement_analyzer import *
from scripts.experience_analyzer import *

In [2]:
db=PostgresConnection()
db.connect()

Connected to PostgreSQL database

In [3]:
query='select * from xdr_data'
db.execute_query(query)

Query executed successfully

In [4]:
df=db.fetch_data(query)
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,Thu Apr 04 2019 15:01:18 GMT+0300 (East Africa...,770.0,Thu Apr 25 2019 17:35:31 GMT+0300 (East Africa...,662.0,1.823653e+09,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,Tue Apr 09 2019 16:04:04 GMT+0300 (East Africa...,235.0,Thu Apr 25 2019 11:15:48 GMT+0300 (East Africa...,606.0,1.365104e+09,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,Tue Apr 09 2019 20:42:11 GMT+0300 (East Africa...,1.0,Thu Apr 25 2019 14:58:13 GMT+0300 (East Africa...,652.0,1.361763e+09,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,Wed Apr 10 2019 03:31:25 GMT+0300 (East Africa...,486.0,Thu Apr 25 2019 10:36:35 GMT+0300 (East Africa...,171.0,1.321510e+09,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,Fri Apr 12 2019 23:10:23 GMT+0300 (East Africa...,565.0,Thu Apr 25 2019 13:40:32 GMT+0300 (East Africa...,954.0,1.089009e+09,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

### User Engagement

In [5]:
satisfaction_analyser=SatisfactionAnalyzer(df)

In [7]:
user_engagement_df = satisfaction_analyser.user_engagement(df)

In [8]:
user_engagement_df

,MSISDN/Number,Session Frequency,Total Duration,Total UL (Bytes),Total DL (Bytes),Total Traffic (Bytes),Engagement Cluster
0,3.360100e+10,0.055556,0.095931,36053108.0,8.426375e+08,0.095931,2
1,3.360100e+10,0.055556,0.014026,36104459.0,1.207552e+08,0.014026,0
2,3.360100e+10,0.055556,0.063851,39306820.0,5.566597e+08,0.063851,0
3,3.360101e+10,0.055556,0.044148,20327526.0,4.019932e+08,0.044148,0
4,3.360101e+10,0.111111,0.161598,94280527.0,1.363130e+09,0.161598,2
...,...,...,...,...,...,...,...
106851,3.379000e+10,0.055556,0.077317,26716429.0,6.879252e+08,0.077317,2
106852,3.379000e+10,0.055556,0.050727,35732243.0,4.445751e+08,0.050727,0
106853,3.197021e+12,0.055556,0.022566,37295915.0,1.948281e+08,0.022566,0
106854,3.370000e+14,0.055556,0.063887,56652839.0,5.396350e+08,0.063887,0
106855,8.823971e+14,0.055556,0.012017,60456049.0,7.869760e+07,0.012017,0

In [8]:
metrics = ['Session Frequency', 'Total Duration', 'Total Traffic (Bytes)']
least_engaged_cluster = satisfaction_analyser.get_least_engaged_cluster(
    user_engagement_df, 
    cluster_column='Engagement Cluster', 
    metrics=metrics, 
    verbose=True
)

                    Session Frequency  Total Duration  Total Traffic (Bytes)
Engagement Cluster
0                            0.057815        0.037848               0.037848
1                            0.194881        0.218017               0.218017
2                            0.081787        0.097088               0.097088
The least engaged cluster is: 0

#### User Experiences Score

In [12]:
user_experience_df=pd.read_csv("../data/user_experience_data.csv")
user_experience_df.drop(columns=['Handset Type']).head()

,Customer Number,Avg TCP DL Retransmission,Avg TCP UL Retransmission,Avg RTT DL,Avg RTT UL,Avg Throughput DL,Avg Throughput UL,Experience Cluster
0,33601001722,2.080991e+07,759658.664811,46.000000,0.000000,37.0,39.0,1
1,33601001754,2.080991e+07,759658.664811,30.000000,1.000000,48.0,51.0,1
2,33601002511,2.080991e+07,759658.664811,109.795706,17.662883,48.0,49.0,1
3,33601007832,1.066000e+03,759658.664811,69.000000,15.000000,204.0,44.0,1
4,33601008617,1.507977e+07,390430.332406,57.000000,2.500000,20197.5,8224.5,2

In [13]:
metrics=['Avg TCP DL Retransmission', 'Avg RTT DL', 'Avg Throughput DL']
worst_experience_cluster = satisfaction_analyser.get_worst_experience_cluster(user_experience_df,'Experience Cluster',metrics)

Worst Experience Cluster: 0

In [14]:
# We have have the user engagement data (user_engagement_df) and experience data (user_experience_df) from Task-2 and Task-3

# Step 1: Calculate the centroids of the least engaged cluster and worst experience cluster
least_engaged_centroid = user_engagement_df[user_engagement_df['Engagement Cluster'] == least_engaged_cluster].mean().values
# Get the centroid for the worst experience cluster
worst_experience_centroid = user_experience_df[user_experience_df['Experience Cluster'] == worst_experience_cluster][metrics].mean().values

In [16]:
worst_experience_centroid

array([7.54728016e+07, 6.81982527e+01, 7.57889138e+04])

In [15]:
user_engagement_df, user_experience_df = satisfaction_analyser.calculate_scores(user_engagement_df,user_experience_df)

In [17]:
user_engagement_df

,MSISDN/Number,Session Frequency,Total Duration,Total UL (Bytes),Total DL (Bytes),Total Traffic (Bytes),Engagement Cluster,Engagement Score
0,3.360100e+10,0.055556,0.095931,36053108.0,8.426375e+08,0.095931,2,2.887446e+07
1,3.360100e+10,0.055556,0.014026,36104459.0,1.207552e+08,0.014026,0,2.033803e+08
2,3.360100e+10,0.055556,0.063851,39306820.0,5.566597e+08,0.063851,0,2.326593e+08
3,3.360101e+10,0.055556,0.044148,20327526.0,4.019932e+08,0.044148,0,8.113335e+07
4,3.360101e+10,0.111111,0.161598,94280527.0,1.363130e+09,0.161598,2,5.362083e+08
...,...,...,...,...,...,...,...,...
106851,3.379000e+10,0.055556,0.077317,26716429.0,6.879252e+08,0.077317,2,1.441522e+08
106852,3.379000e+10,0.055556,0.050727,35732243.0,4.445751e+08,0.050727,0,1.207544e+08
106853,3.197021e+12,0.055556,0.022566,37295915.0,1.948281e+08,0.022566,0,1.293141e+08
106854,3.370000e+14,0.055556,0.063887,56652839.0,5.396350e+08,0.063887,0,2.160552e+08
106855,8.823971e+14,0.055556,0.012017,60456049.0,7.869760e+07,0.012017,0,2.459651e+08

In [18]:
user_experience_df

,Customer Number,Avg TCP DL Retransmission,Avg TCP UL Retransmission,Avg RTT DL,Avg RTT UL,Avg Throughput DL,Avg Throughput UL,Handset Type,Experience Cluster,Experience Score
0,33601001722,2.080991e+07,759658.664811,46.000000,0.000000,37.0,39.0,Huawei P20 Lite Huawei Nova 3E,1,3.789234e+06
1,33601001754,2.080991e+07,759658.664811,30.000000,1.000000,48.0,51.0,Apple iPhone 7 (A1778),1,3.789234e+06
2,33601002511,2.080991e+07,759658.664811,109.795706,17.662883,48.0,49.0,undefined,1,3.789234e+06
3,33601007832,1.066000e+03,759658.664811,69.000000,15.000000,204.0,44.0,Apple iPhone 5S (A1457),1,1.702083e+07
4,33601008617,1.507977e+07,390430.332406,57.000000,2.500000,20197.5,8224.5,Apple iPhone Se (A1723),2,2.101702e+06
...,...,...,...,...,...,...,...,...,...,...
106851,33789996170,2.150440e+05,3001.000000,42.000000,10.000000,9978.0,387.0,Huawei Honor 9 Lite,1,1.681998e+07
106852,33789997247,2.080991e+07,759658.664811,34.000000,6.000000,68.0,48.0,Apple iPhone 8 Plus (A1897),1,3.789234e+06
106853,3197020876596,2.080991e+07,759658.664811,109.795706,17.662883,1.0,0.0,Quectel Wireless. Quectel Ec25-E,1,3.789234e+06
106854,337000037000919,2.080991e+07,759658.664811,109.795706,17.662883,11.0,22.0,Huawei B525S-23A,1,3.789234e+06
106855,882397108489451,2.080991e+07,759658.664811,109.795706,17.662883,2.0,0.0,Quectel Wireless. Quectel Ec21-E,1,3.789234e+06