### User Engagement Analysis

In [1]:
import os
import sys
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
# Get the current working directory
current_dir = os.getcwd()

# Append the parent directory
parent_dir = os.path.dirname(current_dir)
sys.path.append(parent_dir)

# ignore warrnings
import warnings
warnings.filterwarnings("ignore")
from DBConnection.connection import PostgresConnection
from scripts.engagement_analyzer import *

In [2]:
db=PostgresConnection()
db.connect()

Connected to PostgreSQL database

In [3]:
query='select * from xdr_data'
db.execute_query(query)

Query executed successfully

In [5]:
df=db.fetch_data(query)
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,Thu Apr 04 2019 15:01:18 GMT+0300 (East Africa...,770.0,Thu Apr 25 2019 17:35:31 GMT+0300 (East Africa...,662.0,1.823653e+09,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,Tue Apr 09 2019 16:04:04 GMT+0300 (East Africa...,235.0,Thu Apr 25 2019 11:15:48 GMT+0300 (East Africa...,606.0,1.365104e+09,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,Tue Apr 09 2019 20:42:11 GMT+0300 (East Africa...,1.0,Thu Apr 25 2019 14:58:13 GMT+0300 (East Africa...,652.0,1.361763e+09,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,Wed Apr 10 2019 03:31:25 GMT+0300 (East Africa...,486.0,Thu Apr 25 2019 10:36:35 GMT+0300 (East Africa...,171.0,1.321510e+09,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,Fri Apr 12 2019 23:10:23 GMT+0300 (East Africa...,565.0,Thu Apr 25 2019 13:40:32 GMT+0300 (East Africa...,954.0,1.089009e+09,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [6]:
engagement_analyser=EngagementAnalyzer(df)
engagement_analyser.user_engagement(df)

,MSISDN/Number,Session Frequency,Total Session Duration (ms),Total UL (Bytes),Total DL (Bytes)
0,3.360100e+10,1,116720140.0,36053108.0,8.426375e+08
1,3.360100e+10,1,181230963.0,36104459.0,1.207552e+08
2,3.360100e+10,1,134969374.0,39306820.0,5.566597e+08
3,3.360101e+10,1,49878024.0,20327526.0,4.019932e+08
4,3.360101e+10,2,37104453.0,94280527.0,1.363130e+09
...,...,...,...,...,...
106851,3.379000e+10,1,8810688.0,26716429.0,6.879252e+08
106852,3.379000e+10,1,140988659.0,35732243.0,4.445751e+08
106853,3.197021e+12,1,877385325.0,37295915.0,1.948281e+08
106854,3.370000e+14,1,253030201.0,56652839.0,5.396350e+08
106855,8.823971e+14,1,869844200.0,60456049.0,7.869760e+07

In [7]:
engagement_analyser.high_engagement_users(df)

,MSISDN/Number,Session Frequency,Total Session Duration (ms),Total UL (Bytes),Total DL (Bytes)
33,3.360106e+10,2,3.297536e+08,93715624.0,1.356137e+09
121,3.360125e+10,3,5.329498e+08,141294920.0,1.334793e+09
133,3.360127e+10,5,4.598210e+08,171891831.0,1.751269e+09
147,3.360128e+10,4,3.611057e+08,164301781.0,1.759794e+09
181,3.360135e+10,3,3.667635e+08,131344904.0,1.291056e+09
...,...,...,...,...,...
106683,3.378859e+10,5,1.468846e+09,219653168.0,1.664957e+09
106726,3.378905e+10,3,4.053893e+08,109471806.0,1.993635e+09
106758,3.378944e+10,4,9.871790e+08,205801366.0,1.953776e+09
106823,3.378977e+10,3,4.911705e+08,148243207.0,2.062120e+09
106838,3.378988e+10,4,7.022369e+08,155581794.0,1.713581e+09